// Fonts
$font-global: -apple-system,
BlinkMacSystemFont,
‘Segoe UI’,
Roboto,
Oxygen,
Ubuntu,
Cantarell,
‘Open Sans’,
‘Helvetica Neue’,
sans-serif;

$font-title: 'Cocogoose Pro';
$font-title-2: 'Cocogoose Pro Block';
$font-subTitle: 'Antonio';

// Colors
$text-gray: #6C707B;
$black: #000000;
$purple: #4C3260;
$red: #F01C4F;
$white: #ffffff;
$green: #5AD88C;
$cream: #FFF9EE